<html>
<body>
<center>
<h1>This current server is running with {{ ansible_os_family }} OS family</h1>
<br>
<h1>The Current User {{ user_name }}</h1>
<br>
<h1>The Hostname {{ ansible_hostname }}</h1>
</center>
</body>
</html>
